<%-include("partials/header")-%>
<section class="colored-section" id="title">

  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark">

      <a class="navbar-brand" href="">goEatery</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="signup.html">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#cta">Get App</a>
          </li>
        </ul>

      </div>
    </nav>


    <div class="row">

      <div class="col-lg-12">
        <h1 style="font-size:2.5rem" class="big-heading">Discover the best food & drinks in <%=cityName%></h1>
      </div>
    </div>
  </div>
</section>

<section class="white-section" id="card">

  <div class="container-fluid">

    <div class="row row-cols-1 row-cols-md-3">


      <div class="col mb-4">
        <!-- Card -->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="<%=resthumb0%>" alt="Card image cap" onerror="this.onerror=null;this.src='https://b.zmtcdn.com/data/pictures/1/18391601/9cd2d84e71406a56ab05935e093ceec4.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A';" >
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title"><%=resName0%></h4>
            <!--Text-->
            <p class="card-text"><%=resAdd0%></p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

          </div>

        </div>
        <!-- Card -->
      </div>
      <div class="col mb-4">
        <!-- Card -->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="<%=resthumb1%>" alt="Card image cap" onerror="this.onerror=null;this.src='https://b.zmtcdn.com/data/pictures/1/18391601/9cd2d84e71406a56ab05935e093ceec4.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A';">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title"><%=resName1%></h4>
            <!--Text-->
            <p class="card-text"><%=resAdd1%></p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

          </div>

        </div>
        <!-- Card -->
      </div>
      <div class="col mb-4">
        <!-- Card -->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="<%=resthumb2%>"  alt="Card image cap"  onerror="this.onerror=null;this.src='https://b.zmtcdn.com/data/pictures/1/18391601/9cd2d84e71406a56ab05935e093ceec4.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A';"/>
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title"><%=resName2%></h4>
            <!--Text-->
            <p class="card-text"><%=resAdd2%></p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

          </div>

        </div>
        <!-- Card -->
      </div>
      <div class="col mb-4">
        <!-- Card -->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="<%=resthumb3%>" alt="Card image cap" onerror="this.onerror=null;this.src='https://b.zmtcdn.com/data/pictures/1/18391601/9cd2d84e71406a56ab05935e093ceec4.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A';">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title"><%=resName3%></h4>
            <!--Text-->
            <p class="card-text"><%=resAdd3%></p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

          </div>

        </div>
        <!-- Card -->
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <!-- Card -->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="<%=resthumb4%>" alt="Card image cap" onerror="this.onerror=null;this.src='https://b.zmtcdn.com/data/pictures/1/18391601/9cd2d84e71406a56ab05935e093ceec4.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A';">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title"><%=resName4%></h4>
            <!--Text-->
            <p class="card-text"><%=resAdd4%></p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

          </div>

        </div>
        <!-- Card -->
      </div>
      <div class="col mb-4">
        <!-- Card -->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="<%=resthumb5%>" alt="Card image cap" onerror="this.onerror=null;this.src='https://b.zmtcdn.com/data/pictures/1/18391601/9cd2d84e71406a56ab05935e093ceec4.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A';">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title"><%=resName5%></h4>
            <!--Text-->
            <p class="card-text"><%=resAdd5%></p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

          </div>

        </div>
        <!-- Card -->
      </div>
      <div class="col mb-4">
        <!-- Card -->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="<%=resthumb6%>" alt="Card image cap" onerror="this.onerror=null;this.src='https://b.zmtcdn.com/data/pictures/1/18391601/9cd2d84e71406a56ab05935e093ceec4.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A';">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title"><%=resName6%></h4>
            <!--Text-->
            <p class="card-text"><%=resAdd6%></p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

          </div>

        </div>
        <!-- Card -->
      </div>
      <div class="col mb-4">
        <!-- Card -->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="<%=resthumb7%>" alt="Card image cap" onerror="this.onerror=null;this.src='https://b.zmtcdn.com/data/pictures/1/18391601/9cd2d84e71406a56ab05935e093ceec4.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A';">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title"><%=resName7%></h4>
            <!--Text-->
            <p class="card-text"><%=resAdd7%></p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

          </div>

        </div>
        <!-- Card -->
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <!-- Card -->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="<%=resthumb8%>" alt="Card image cap" onerror="this.onerror=null;this.src='https://b.zmtcdn.com/data/pictures/1/18391601/9cd2d84e71406a56ab05935e093ceec4.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A';">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title"><%=resName8%></h4>
            <!--Text-->
            <p class="card-text"><%=resAdd8%></p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

          </div>

        </div>
        <!-- Card -->
      </div>
      <div class="col mb-4">
        <!-- Card -->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="<%=resthumb9%>" alt="Card image cap" onerror="this.onerror=null;this.src='https://b.zmtcdn.com/data/pictures/1/18391601/9cd2d84e71406a56ab05935e093ceec4.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A';">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title"><%=resName9%></h4>
            <!--Text-->
            <p class="card-text"><%=resAdd9%></p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

          </div>

        </div>
        <!-- Card -->
      </div>
      <div class="col mb-4">
        <!-- Card -->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="<%=resthumb10%>" alt="Card image cap" onerror="this.onerror=null;this.src='https://b.zmtcdn.com/data/pictures/1/18391601/9cd2d84e71406a56ab05935e093ceec4.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A';">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title"><%=resName10%></h4>
            <!--Text-->
            <p class="card-text"><%=resAdd10%></p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

          </div>

        </div>
        <!-- Card -->
      </div>
      <div class="col mb-4">
        <!-- Card -->
        <div class="card">

          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="<%=resthumb11%>" alt="Card image cap" onerror="this.onerror=null;this.src='https://b.zmtcdn.com/data/pictures/1/18391601/9cd2d84e71406a56ab05935e093ceec4.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A';">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!--Title-->
            <h4 class="card-title"><%=resName11%></h4>
            <!--Text-->
            <p class="card-text"><%=resAdd11%></p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>

          </div>

        </div>
        <!-- Card -->
      </div>
    </div>
  </div>
</section>
<%-include("partials/download")-%>
<%-include("partials/footer")-%>
